.wrapper {
  background: #171F30;
  padding-top: 63px;
}

.container {
  max-width: 1182px;
  height: 1324px;
  margin: 0 auto;
  position: relative;
}
.create {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}


.inner {
  position: relative;
  height: 1074px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
    background: rgba(255, 255, 255, 0.0);
  }
  .innerBoard {
    margin-top: 30px;
    width: 1212px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 404px);
    grid-auto-rows: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
  }
}